/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* 7 - Classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}
