/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* p {
    color: blueviolet;
} */

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* 7 - Classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* 8 - Id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* 9 - Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* 10 - Nome de cores */
.color-name {
    color: crimson;
}

/* 11 - Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #0080ff;
}

/* 12 - Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #5f4;
}

/* 13 - RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(0, 127, 255);
}

/* 14 - RGBa */
.rgba {
    color: rgba(100, 199, 45, 0.25);
}

/* 15 - HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* 16 - Background color */
.bg {
    background-color: black;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* 17 - Background opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: black;
    opacity: 0.8;
}

/* 18 - RGBa com opacidade */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: black;
}

/* 19 - Bg image */
.bg-image {
    background-image: url("../img/cidade.jpg");
    padding: 100px;
    color: white;
}
