/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* 7 - Classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* 8 - Id */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* 9 - Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* 10 - Nome de cores */
.color-name {
    color: crimson;
}

/* 11 - Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #0080ff;
}

/* 12 - Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #5f4;
}

/* 13 - RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(0, 127, 255);
}
